.container {
    width: 100%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.leftHeader {
    display: block;
    width: 40%;
    height: 80px;
    float: left;
    margin-left: 100px;

}

.rightHeader {
    display: block;
    width: 40%;
    height: 80px;
    float: right;
    text-align: right;
    align-items: center;
    margin-right: 100px;
    vertical-align: middle;
}

.navitem {
    line-height:60px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding: 10px;
    font-size:1.2em;
    text-align: center;
    text-transform: lowercase;


}

.navitem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #ccff00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navitem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 600px) {
    .rightHeader {
        display:none;
    }

}