.container {
    width: 100%;
}

.clearFix {
    content: "";
    display: table;
    clear: both;

}

.title {
    font-weight: bolder;
}

.leftHeader {
    display: block;
    width: 40%;
    height: 80px;
    float: left;
    margin-left: 100px;
}

.rightHeader {
    display: block;
    width: 40%;
    height: 80px;
    float: right;
    text-align: right;
    align-items: center;
    margin-right: 100px;
    vertical-align: middle;
}

.navitem {
    line-height:60px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding: 10px;
    font-size:1.2em;
    text-align: center;
    text-transform: lowercase;


}

.navitem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #ccff00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navitem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 600px) {
    .leftHeader {
        width: 40%;
        margin-left: 0px;

    }
    .rightHeader {
        width:60%;
        align-items: right;
        margin-right: 0px;
    }
    .navigation {
        position: relative;
        float: right;
    }

    .navigation > * {
        display: block;
        float:none;
        right: 0px;
        padding: 0px;
        text-align: right;
    }



}